#wikiSearchResult {
    background-color: white;
    width: 30%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border: none;
    margin-top: 17px;
    padding-top: 25px;
    position: absolute;
    z-index: 10;
    transition: width 0.2s;
    top: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.searchDivider {
    text-align: center;
    background-color: #337ab7;
    color: white;
    box-shadow: inset 0 0 5px #4d4949;
}

.searchContainer {
    width: 50%;
    display: inline-block;
    transition: width 0.2s;
    margin-left: 10px;
}

#navbarSearchInput {
    border-radius: 3px;
    position: absolute;
    z-index: 100;
    width: 30%;
    transition: width 0.2s;
    top: 8px;
}

.artikelListe {
    list-style-type: none;
    padding-left: 0px;
}

artikelPreview {
    display: block;
    font-size: 90%;
}

artikelTitel {
    font-size: 130%;
}

.artikelItem:hover {
    background: rgba(128, 128, 128, 0.09);
}

.artikelItem {
    padding: 10px;
}

.activeObjectColor {
    background: rgba(195, 195, 195, 0.52);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#newSubjectSearchResult {
    max-height: 250px;
    overflow-y: auto;
}

.newSubjectSearchResult {
    cursor: pointer;
}

.nav>li{
    cursor:pointer;
}



 