<p>Guten Tag,</p>
<p>{Vergabe_Durch_Name} hat über den Stubegru Kalender einen Termin bei Ihnen ({Berater_Name}) vergeben</p>
<b>{Termin_Titel}</b> am <b>{Termin_Datum}</b> von <b>{Termin_Uhrzeit}</b> Uhr bis <b>{Termin_Uhrzeit_Ende}</b>.
<br>
<br>

<table style='width: 400px;' class='table' border='1' cellpadding='1' cellspacing='1'>
    <tbody>
        <tr>
            <td>Name</td>
            <td>{Klient_Name}</td>
        </tr>
        <tr>
            <td>Mail</td>
            <td>{Klient_Mail}</td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>{Klient_Telefon}</td>
        </tr>
        <tr>
            <td>Anliegen</td>
            <td>{Klient_Anliegen},</td>
        </tr>
        <tr>
            <td>Beratungskanal</td>
            <td>{Termin_Kanal}</td>
        </tr>
    </tbody>
</table>
<br>