:root {
    --survey-rating-row: #f5ca3d;
    --survey-rating-row-text: black;
}

.survey-hidden {
    display: none;
}

.survey-rating-radio {
    width: 40px;
    height: 40px;
    margin: 10px 0px !important;
}

.survey-rating-row {
    background-color: var(--survey-rating-row);
    border-radius: 10px;
}

.stubegru-rating-table {
    margin-bottom: 30px;
}

.survey-rating-sm-text {
    color: var(--survey-rating-row-text);
    font-size: large;
}

.survey-rating-text {
    color: var(--survey-rating-row-text);
    padding: 10px;
    font-size: larger;
    margin-bottom: -15px;
}

@media only screen and (max-width: 750px) {
    .v-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.survey-inline-radio-container {
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 5px;
}