.stubegru-module-title{
    text-decoration: none;
    color: black;
}

.stubegru-module-subtitle{
    margin-top: -20px;
    font-style: italic;
}

.stubegru-modal-footer-wide{
    padding: 10px;
    display: block;
}