SetEnv BASE_URL "https://localhost"
SetEnv BASE_PATH "/home/user1/html"
SetEnv DB_SERVER "localhost"
SetEnv DB_USER "user123"
SetEnv DB_PASSWORD "s3cr3t"
SetEnv DB_NAME "DBNAME"

SetEnv LOGO "/assets/images/favicon.png"

SetEnv MAIL_METHOD "phpmail"
SetEnv SMTP_HOST "your.smtp.server"
SetEnv SMTP_AUTH 1
SetEnv SMTP_USERNAME "username"
SetEnv SMTP_PASSWORD "s3cr3t"
SetEnv SMTP_SECURE "tls"
SetEnv SMTP_PORT "587"

SetEnv APPLICATION_ID "stubegru-test-environment"
SetEnv DEV_MODE 0
