<stubegruAttribute hidden data-name="title" data-value="Termin buchen"></stubegruAttribute>
<stubegruAttribute hidden data-name="access" data-value="CALENDAR_SELF_SERVICE"></stubegruAttribute>

<stubegruModule data-name="alerts/libs/sweetalert"></stubegruModule>
<stubegruModule data-name="event_management/libs/multi_select_dropdown"></stubegruModule>
<stubegruModule data-name="calendar/fullcalendar"></stubegruModule>
<stubegruModule data-source="ts_modules" data-name="calendar/frontend_self_service"></stubegruModule>