<stubegruAttribute hidden data-name="title" data-value="Termin buchen"></stubegruAttribute>
<stubegruAttribute hidden data-name="access" data-value="CALENDAR_SELF_SERVICE"></stubegruAttribute>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Logo" src="assets/images/favicon.png" width="20px">
            </a>
            <a id="navbar_title" class="navbar-brand" href="#">
                Stubegru | Terminbuchung
            </a>
        </div>
    </div>
</nav>






<stubegruModule data-name="alerts/libs/sweetalert"></stubegruModule>
<stubegruModule data-name="event_management/libs/multi_select_dropdown"></stubegruModule>
<stubegruModule data-name="calendar/fullcalendar"></stubegruModule>
<stubegruModule data-source="ts_modules" data-name="calendar/frontend_self_service"></stubegruModule>