<stubegruAttribute hidden data-name="title" data-value="Dashboard"></stubegruAttribute>
<stubegruAttribute hidden data-name="access" data-value="DEFAULT_VIEW_ACCESS"></stubegruAttribute>

<stubegruModule data-name="menubar"></stubegruModule>
<stubegruModule data-name="alerts/libs/sweetalert"></stubegruModule>
<stubegruModule data-name="alerts"></stubegruModule>
<stubegruModule data-name="custom_events"></stubegruModule>
<stubegruModule data-name="user_utils"></stubegruModule>
<stubegruModule data-name="survey"></stubegruModule>
<stubegruModule data-name="evaluation/evaluation_download"></stubegruModule>
<stubegruModule data-name="monitoring" data-template-path="custom/monitoring_template.html"></stubegruModule>
 
<stubegruModule data-name="notifications"></stubegruModule>

<div class="row p-4">
    <div class="col-md-6">
        <stubegruModule data-name="wiki/utils"></stubegruModule>
        <!-- New TS Modules -->
        <stubegruModule data-source="ts_modules" data-name="daily_news"></stubegruModule>
        <stubegruModule data-name="quicklinks"></stubegruModule>
        <stubegruModule data-name="telephone_notes"></stubegruModule>

    </div>
    <div class="col-md-6">
        <stubegruModule data-name="absence"></stubegruModule>
        <stubegruModule data-name="calendar/fullcalendar"></stubegruModule>
        <stubegruModule data-name="calendar/frontend_two_stage"></stubegruModule>
    </div>
</div>