<stubegruAttribute hidden data-name="title" data-value="Veranstaltungen"></stubegruAttribute>
<stubegruAttribute hidden data-name="access" data-value="DEFAULT_VIEW_ACCESS"></stubegruAttribute>

<stubegruModule data-name="menubar"></stubegruModule>
<stubegruModule data-name="alerts/libs/sweetalert"></stubegruModule>
<stubegruModule data-name="alerts"></stubegruModule>
<stubegruModule data-name="custom_events"></stubegruModule>
<stubegruModule data-name="user_utils"></stubegruModule>
<stubegruModule data-name="survey"></stubegruModule>
<stubegruModule data-name="evaluation/evaluation_download"></stubegruModule>
<stubegruModule data-name="monitoring" data-template-path="custom/monitoring_template.html"></stubegruModule>
<stubegruModule data-name="notifications"></stubegruModule>
<stubegruModule data-name="event_management/libs/multi_select_dropdown"></stubegruModule>
<stubegruModule data-name="calendar/fullcalendar"></stubegruModule>

<div class="row">
    <div class="col-md-8 p-3">
        <stubegruModule data-name="event_management/event_instances"></stubegruModule>
    </div>
    <div class="col-md-4 p-3">
        <stubegruModule data-name="event_management/event_types"></stubegruModule>
    </div>
</div>