.stubegru-module-title{
    text-decoration: none;
    color: black;
}

.stubegru-module-subtitle{
    margin-top: -10px;
    font-style: italic;
}

.stubegru-module-padding{
    padding: 0px 30px;
}

.stubegru-modal-footer-wide{
    padding: 10px;
    display: block;
}

.stubegru-hidden{
    display: hidden !important;
}